* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: 'roboto', sans-serif;

}

#contenedorPrincipal {
    position: relative;
}

#container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#comofunciona {
    display: flex;
}

/* header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
} */

.logo {
    width: 50vw;
    height: 100%;

}

.logo>img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    margin-left: 20px;
}

/* #listaPrincipal{
    display: flex;
} */
.list-nav {
    margin: 10px;
}

ul li {
    list-style: none;
}

/* #comofunciona{
    margin-top: 60px;
    justify-content: space-around;
} */

.cont-f {
    width: 29%;
    background: white;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}

.cont-f:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.cont-f>i {
    font-size: 30px;
    color: white;
    /* background: #1fde82;  */
    background: #71a2ec;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

#video {
    display: flex;
    justify-content: center;

}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#formulario {
    margin-top: 20px;
    width: 60%;
}

.formF {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-form {
    margin-top: 10px;
}

#campoText {
    border-radius: 5px;
    width: 60%;
    height: 30px;

}

#submit {
    background-color: white;
    width: 70px;
}

#submit:hover {
    background-color: #71a2ec;
}

footer {
    display: flex;
    background-color: white;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}




@media screen and (max-width: 700px) {
    #listaPrincipal {
        display: flex;
        flex-direction: column;


    }

    #comofunciona {
        margin-top: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont-f {
        width: 80%;
        background: white;
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 45px 30px 60px 30px;
    }

    header {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 130px;
        min-height: 75px;
        padding: 0px 20px;
        justify-content: space-around;
        align-items: center;
        background-color: white;
    }

    #listaPrincipal {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: white;
        align-items: center;
    }

    #video {
        display: flex;
        justify-content: center;
        width: 100%;
    
    }


}

@media screen and (min-width: 701px) {
    #listaPrincipal {
        display: flex;
    }

    #header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        min-height: 75px;
        padding: 0px 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
    }

    #comofunciona {
        margin-top: 80px;
        justify-content: space-around;
    }

}